<div class="container" style="margin-top: 3rem;">
  <div class="row">
    <div class="col-sm-3">
      <img [src]="imageIcons[0].imagePath"
      alt="{{ imageIcons[0].name }}"
      class="img-responsive"
      style="max-height: 313px; border-radius: 1rem;">
      <div>
        <h4 class="list-group-item-heading">{{ imageIcons[0].name }}</h4>
        <p class="list-group-item-text">{{ imageIcons[0].description }}</p>
        <h5 class="list-group-item-heading">{{ imageIcons[0].link }}</h5>
      </div>
    </div>

    <div class="col-sm-3">
      <img [src]="imageIcons[1].imagePath"
      alt="{{ imageIcons[1].name }}"
      class="img-responsive"
      style="max-height: 313px; border-radius: 1rem;">
      <div>
        <h4 class="list-group-item-heading">{{ imageIcons[1].name }}</h4>
        <p class="list-group-item-text">{{ imageIcons[1].description }}</p>
        <h5 class="list-group-item-heading">{{ imageIcons[1].link }}</h5>
      </div>
    </div>

    <div class="col-sm-3">
      <img [src]="imageIcons[2].imagePath"
      alt="{{ imageIcons[2].name }}"
      class="img-responsive"
      style="max-height: 313px; border-radius: 1rem;">
      <div>
        <h4 class="list-group-item-heading">{{ imageIcons[2].name }}</h4>
        <p class="list-group-item-text">{{ imageIcons[2].description }}</p>
        <h5 class="list-group-item-heading">{{ imageIcons[2].link }}</h5>
      </div>
    </div>

    <div class="col-sm-3">
      <img [src]="imageIcons[3].imagePath"
      alt="{{ imageIcons[3].name }}"
      class="img-responsive"
      style="max-height: 313px; border-radius: 1rem;">
      <div>
        <h4 class="list-group-item-heading">{{ imageIcons[3].name }}</h4>
        <p class="list-group-item-text">{{ imageIcons[3].description }}</p>
        <h5 class="list-group-item-heading">{{ imageIcons[3].link }}</h5>
      </div>
    </div>

  </div>
</div>
