<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <img src="./assets/fcmb_logo.svg"
      class="img-responsive"
      style="height: 5rem;"
      alt="">
    </div>


    <div class="collapse navbar-collapse" style="padding-right: 10rem;">
      <ul class="nav navbar-nav navbar-right">
        <button class="btn" type="submit" >Login</button>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="personal" >Personal</a></li>
        <li><a href="#" >Expenses</a></li>
        <li><a href="#" >Savings & Loans</a></li>
      </ul>
    </div>

  </div>
</nav>

<div class="container sub-head">
  <p class="text-center">INTRODUCING FCMB BIZBUCK FOR YOUR BUSINESS TEAMS</p>
  <p class="text-center">The spending solutions your team deserves</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6"><img
      src="./assets/image.svg" alt=""
      class="img-responsive"
      style="width: 700px;
      height: 300px;"></div>

    <div class="col-sm-6" style="padding-top: 3rem;">
      <header>
        A Platform that connects your expenses and gives you more opportunities
      </header>
      <p class="text" style="padding-top: 1.5rem;">It’s true, with bizbuck you can redeem your company expenses, save,loan and lend.
        Low Interest loan Rates among staffs (Internal and External), Swift Expenses Reimbursement and Personal savings plan. Everyone deserves a great working community to share and to earn.
        </p>
        <button class="btn d-flex  justify-content-center align-items-center text-center"
        style="background-color: #FCB405; color: #FFFFFF; font-weight: 600;"
        type="button">Get Started</button>
      </div>
  </div>
</div>

<div class="container sub">
  <p class="text-center">Innovative Banking Solutions</p>
</div>

<app-image-icons></app-image-icons>

<div class="container"
style="background-color: #FFFFFF; border-radius: 1.5rem; height: 25rem; padding: 2rem;">
  <div class="row">
    <div class="col-sm-3">
      Personal
    </div>

    <div class="col-sm-3">
      Loans
    </div>

    <div class="col-sm-3">
      Expenses
    </div>

    <div class="col-sm-3">
      Help & Security
    </div>
  </div>
</div>
